.container {
  display: flex;
  justify-content: space-between;

  .simulation {
    width: 50vw;
    height: 80vh;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
